.body{
    background-color:hsl(230, 17%, 14%);
    
}
span{
    color: hsl(228, 34%, 66%);
}

.space{
    height: 5vh;
}
small{
    color: hsl(163, 72%, 41%);
}
.overview{
    padding: 20px;
    margin-left: -20px;
}
p{
    color: white;
}
.bg{

    text-align: center;
    display: grid;
    justify-content: space-around;
    background-color:hsl(228, 28%, 20%);
}
.gap{
    gap: 80px;
    
}
.col2{
    padding: 50px;
}

 /* #nn{
    height: 100px;
    width: 200px;
    padding: 30px;
    display: grid;
    gap:10px;
    margin-top: 20px;
    margin-left: -20px;
}  */
#con1{
    box-shadow:0px -5px 0px  hsl(208, 92%, 53%) ;
}
#con2{
    box-shadow:0px -5px 0px  hsl(208, 92%, 53%) ;
}
#con3{
    box-shadow:0px -5px 0px   ;
}
#con4{
    box-shadow:0px -5px 0px  hsl(348, 97%, 39%);
}
#nn {
    /* background-color: lightgray; */
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}
@media (max-width: 768px) {
    #nn {
        /* background-color: lightblue; */
        padding: 8px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
    
    }
}



